<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xBuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDisplayName</key>
	<string>Dillinger</string>
	<key>CFBundleExecutable</key>
	<string>Dillinger</string>
	<key>CFBundleIconFile</key>
	<string>Dillinger.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.muellerware.Dillinger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dillinger</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>0.17.2</string>
	<key>xDTSDKBuild</key>
	<string>13C64</string>
	<key>xDTSDKName</key>
	<string>macosx</string>
	<key>xDTXcode</key>
	<string>0511</string>
	<key>xDTXcodeBuild</key>
	<string>5B1008</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AtomApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
